---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Posts from "../../components/Posts.astro";
import RelatedPosts from "../../components/RelatedPosts.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout collectionItem={post}>
    <div class="flex flex-wrap justify-between gap-2">
		<section id={post.id} class="prose prose-neutral dark:prose-invert" data-pagefind-body>
			<div>
				<a href="/blog">
					<Icon class="inline" title="arrow-left" name="lineicons:arrow-left" />
					back to blog
				</a>
			</div>
			<h4 class="font-light my-4">
				{post.data.pubDate?.toLocaleDateString()}
			</h4>
			<h1 data-pagefind-meta="title">
				{post.data.title}
			</h1>
			<div class="mb-2 flex gap-2">
				{
					post.data.categories?.map((tag) => (
						<div class="shadow-square border p-1">{tag}</div>
					))
				}
			</div>
			<Content />
			<hr />
		</section>
		
		<aside id="related_more" class="w-sm">
			{post.data.related && (
				<h2 class="mb-2 text-2xl font-semibold">Related Posts</h2>
				<RelatedPosts item={post} />
				<br/>
			)}
			<h2 class="mb-2 text-2xl font-semibold">More</h2>
			<Posts count={3} ignore_ids={[...post.data.related?.map(r => r.id) || [], post.id]} />
		</aside>
    </div>
</Layout>
