---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Posts from "../../components/Posts.astro";
import RelatedPosts from "../../components/RelatedPosts.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => ({
        params: { id: post.id },
        props: { post },
    }));
}

// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout collectionItem={post}>
    <div class="flex flex-col w-full gap-2">
		<div>
			<a href="/blog">
				<Icon class="inline" title="arrow-left" name="tabler:arrow-left" />
				back to blog
			</a>
		</div>
		<section id={post.id}>
			<h1 class="mb-2 text-4xl font-bold">
				{post.data.title}
			</h1>
			<div class="mb-2 flex gap-2">
				{
					post.data.categories?.map((tag) => (
						<div class="shadow-square border p-1">{tag}</div>
					))
				}
			</div>
			<div class="prose prose-neutral dark:prose-invert">
				<Content />
			</div>
		</section>
		{post.data.related && (
			<section id='related' class="flex flex-col gap-2">
				<h2 class="mb-2 text-2xl font-semibold">Related Posts</h2>
				<RelatedPosts post={post} />
			</section>
		)}
		<section id='more' class="flex flex-col gap-2">
			<h2 class="mb-2 text-2xl font-semibold">More</h2>
			<Posts count={3} ignore_id={post.id} />
		</section>
    </div>
</Layout>
