---
import colors from "tailwindcss/colors";


const colorPalette = Object.fromEntries(
    Object.entries(colors).filter(
        ([_, value]) => typeof value === "object" && "50" in value,
    ),
);
// Create a list of colors from the palette
const colorList = Object.keys(colorPalette);
---

<script is:inline define:vars={{colors, colorList}}>

    // get daily accent color based on the current date
    const today = new Date();
    const dailyAccentColor = colorList[today.getDate() % colorList.length];

    const shades = [50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950];
    const handleChange = (event) => {
        const selectedColor = event.target.value;
        if (selectedColor === "daily") {
            // Set the accent color to the daily color
            shades.forEach((shade) => {
                document.documentElement.style.setProperty(
                    `--theme-accent-${shade}`,
                    `var(--color-${dailyAccentColor}-${shade})`,
                );
            });
        } else {
            shades.forEach((shade) => {
                document.documentElement.style.setProperty(
                    `--theme-accent-${shade}`,
                    `var(--color-${selectedColor}-${shade})`,
                );
            });
        }
    };

    document
        .querySelector("accentSelect")
        ?.addEventListener("change", handleChange);
</script>

<select
    id="accentSelect"
    class="shadow-square-clickable border p-1"
    title="set accent color"
    aria-hidden="true"
>
    <option value="daily">daily</option>
    <hr />
    {colorList.map((color) => <option value={color}>{color}</option>)}
</select>
