---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
    item: CollectionEntry<'portfolio'>
}

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/*.{jpeg,jpg,png,gif}');
const { item } = Astro.props as Props;
const imgSrc = images[item.data.img] ?? item.data.img;

const link = `/portfolio/${item.id}`
---

<a
    href={link}
    class="w-sm shadow-square-clickable flex flex-col gap-2 border"
>
    <Image
        src={typeof imgSrc === "function" ? imgSrc() : imgSrc}
        alt={item.data.img_alt}
        loading="eager"
        width={500}
        height={500}
        class="aspect-video w-full"
    />
    <div class="p-2 h-full w-auto">
        <h2 class="text-xl font-semibold">{item.data.title}</h2>
        <span class="text-xs font-light">
            {item.data.tags.join(" • ")}
        </span>
        <p class="text-ellipsis">{item.data.description}</p>
    </div>
</a>
