---
import { Icon } from "astro-icon/components";

let navlinks = {
    home: "/",
    about: "/about",
    portfolio: "/portfolio",
    blog: "/blog",
};

const extraLinks:{title:string, icon?: String|HTMLElement, href:string, pinned:boolean}[] = [
    {
        title: "🍿\x20kino.wtf",
        href: "https://kino.wtf",
        pinned: true,
    },
    {
        title: "letterboxd",
        icon: "fa7-brands:letterboxd",
        href: "https://letterboxd.com/kschuyler/",
        pinned: false,
    },
    {
        title: "contact",
        icon: "lineicons:envelope-1",
        href: "mailto:kai.schuyler@gmail.com",
        pinned: false,
    },
];
---

<nav
    class="top-0 flex h-min max-h-screen flex-col flex-wrap items-end gap-2 text-right md:sticky"
>
    <a href="/" class="m-1 block text-4xl md:text-8xl" aria-label="site logo">
        <Icon name="wind" title="site-logo" />
    </a>
    <h1 class="text-right text-xl font-bold">zephy.dev</h1>
    <h3>Kai's portfolio and blog</h3>
    {
        Object.entries(navlinks).map(([title, link]) => (
            <a href={link} class="font-mono font-semibold">
                {title}
            </a>
        ))
    }
    <hr class="prose w-full" />
    {
        // Display extra links, with pinned ones first
        extraLinks
            .sort((a, b) =>
                a.pinned === b.pinned ? 0 : a.pinned ? -1 : 1
            )
            .map((link) => (
                <div class="flex items-center gap-1">
                    <a
                        href={link.href}
                        target="_blank"
                        rel="noopener noreferrer"
                        class="block"
                    >
                        {link.icon && <Icon name={link.icon} class="inline mr-2" />}
                        <span class="font-mono font-semibold">
                            {link.title}
                        </span>
                    </a>
                    {link.pinned && <div class="text-xs">📌</div>}
                </div>
            ))
    }
</nav>
