---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import SocialLinks from "../components/SocialLinks.astro";
import AccentSelect from "../components/AccentSelect.astro";
import ThemeSelect from "../components/ThemeSelect";
import { SEO } from "astro-seo";
import "../styles/global.css";
import type { CollectionEntry } from "astro:content";

interface Props {
    title?: string,
    collectionItem?: CollectionEntry<'blog'> | CollectionEntry<'portfolio'>
}

const { title, collectionItem } = Astro.props;

const getTitle = collectionItem?.data.title ?? title ?? "zephy.dev";

const generalDescription =
    "Personal portfolio site of Kai Schuyler Gonzalez, a software engineer / designer based in Denver, CO.";

const getDescription = (collectionItem) ? collectionItem.data.description : generalDescription;

const getImage = collectionItem?.data.img ?? "og-image.png";
---

<!doctype html>
<html lang="en" class="scheme-light dark:scheme-dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon.ico" sizes="any" />
        <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
        <meta name="theme-color" content="#71717a" />
        <meta name="color-scheme" content="light dark" />
        <meta name="generator" content={Astro.generator} />
        <title>{getTitle}</title>
        <link
            rel="alternate"
            type="application/rss+xml"
            title={getTitle}
            href={new URL("rss.xml", Astro.site)}
        />
        <script is:inline>
            const theme = localStorage.getItem("theme");

            if (
                theme === "dark" ||
                (!theme &&
                    window.matchMedia("(prefers-color-scheme: dark)").matches)
            ) {
                document.documentElement.classList.add("dark");
            }
        </script>
        <SEO
            title={getTitle}
            titleTemplate="%s | zephy.dev"
            titleDefault="zephy.dev"
            description={getDescription}
            canonical="https://zephy.dev",
            openGraph={{
                basic: {
                    title: getTitle,
                    type: "website",
                    image: getImage
                },
                optional: {
                    description: getDescription
                },
                article: {
                    publishedTime: collectionItem?.data.pubDate?.toISOString(),
                    authors: ["Kai Schuyler Gonzalez"],
                    tags: collectionItem?.collection === 'blog' ? (collectionItem?.data?.categories ?? []) : []
                }
            }}
            twitter={{
                card: 'summary',
                site: 'zephy.dev',
                creator: "@kaischuyler",
                title: getTitle,
                description: getDescription,
                image: getImage,
                imageAlt: collectionItem?.data.img_alt ?? 'zephy.dev: Kais personal site and portfolio'
            }}
            extend={{
                // extending the default link tags
                link: [{ rel: "icon", href: "/favicon.ico" }],
            }}
        />
    </head>
    <body>
        <div
            class="container mx-auto grid h-screen grid-rows-[0fr_1fr_0fr] gap-4 p-2"
        >
            <nav class="flex items-center justify-end gap-2">
                <SocialLinks />
                <ThemeSelect client:load />
                <AccentSelect />
            </nav>
            <div
                class="mt-4 grid gap-8 sm:grid-rows-[0fr_1fr] md:grid-cols-[1fr_3fr] md:grid-rows-1"
            >
                <Nav />
                <article>
                    <slot />
                </article>
            </div>
            <Footer />
        </div>
    </body>
</html>

<script>
    // Set external links to open in a new tab
    document.querySelectorAll('a[target="_blank"]').forEach((link) => {
        (link as HTMLAnchorElement).rel = "noopener noreferrer";
    });
</script>
