---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import PortfolioItems from "../../components/PortfolioItems.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const items = await getCollection("portfolio");
    return items.map((item) => ({
        params: { id: item.id },
        props: { item },
    }));
}

// 2. For your template, you can get the entry directly from the prop
const { item } = Astro.props;
const { Content } = await render(item);
---

<Layout collectionItem={item}>
    <div class="w-full flex flex-wrap gap-2">
		<section id={item.id}>
			<a href="/portfolio">
				<Icon class="inline" title="arrow-left" name="tabler:arrow-left" />
				back to projects
			</a>
			<h1 class="mb-2 text-4xl font-bold">
				{item.data.title}
			</h1>
			<div class="mb-2 flex gap-2">
				{
					item.data.tags.map((tag) => (
						<div class="shadow-square border p-1">{tag}</div>
					))
				}
			</div>
			<div class="prose prose-neutral dark:prose-invert">
				<Image
					src={item.data.img}
					alt={item.data.img_alt}
					loading="eager"
					width={500}
					height={500}
					class="shadow-square mb-2 aspect-video w-full border"
				/>
				<Content />
			</div>
		</section>
		<section id='more' class="flex flex-col gap-2">
			<h2 class="mb-2 text-2xl font-semibold">More</h2>
			<PortfolioItems count={3} ignore_id={item.id} />
		</section>
    </div>
</Layout>
